.column {
    min-width: 200px;
    width: 20vw;
    padding: 0 20px;
}

.column-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin: 20px 0;
}

.column-title p {
    margin: 0;
}

.column-title button {
    background-color: transparent;
    border: none;
    color: grey;
    cursor: pointer;
}

.title-left {
    display: flex;
    align-items: center;
}

.title-left img {
    margin-right: 5px;
    height: 12px;
}

.initial {
    position: relative;
    margin-right: 5px;
    border-radius: 50%;
    width: 20px; /* Set a fixed width */
    height: 20px; /* Set a fixed height */
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Vertically center the text */
    justify-content: center; /* Horizontally center the text */
    color: black; /* Optional: set the text color */
}

.availability-indicator {
    position: absolute;
    bottom: -4px; /* Adjust based on your design */
    right: -4px; /* Adjust based on your design */
    width: 8px; /* Size of the circle */
    height: 8px; /* Size of the circle */
    border: 2px solid white;
    border-radius: 50%; /* Make it a circle */
  }

  .available {
    background-color: green; /* Color for available */
  }
  
  .not-available {
    background-color: red; /* Color for not available */
  }

.title-left span {
    margin-left: 5px;
    font-weight: normal;
    color: grey;
}