.column {
    min-width: 200px;
    width: 20vw;
    padding: 0 20px;
}

.column-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin: 20px 0;
}

.column-title p {
    margin: 0;
}

.column-title button {
    background-color: transparent;
    border: none;
    color: grey;
    cursor: pointer;
}

.title-left {
    display: flex;
    align-items: center;
}

.title-left img {
    margin-right: 5px;
    height: 12px;
}
.title-left span {
    margin-left: 5px;
    font-weight: normal;
    color: grey;
}