.card {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
}

.card-header img {
    height: 12px;
}

.card-title {
    display: flex;
    flex-direction: row;
}

.card-title p{
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: bold;
}

.card-title img {
    height: 12px;
    margin-right: 5px;
}

.card-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-footer img {
    height: 12px;
    margin-right: 5px;
    padding: 2px ;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
}

.tag {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 2px 5px;
    display: flex;
    align-items: center; 
    color: grey;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: rgb(200, 200, 200);
}